<!-- extends the base template -->
{% extends 'base.html' %}

<!-- start of the title block -->
{% block title %}
  <title> Add new field </title>

  <!-- javascript for menu tags -->
  <script>
  document.addEventListener("DOMContentLoaded", function(){
    document.querySelectorAll('.nav-item')[2].classList.add('active');
  });
  </script>

{% endblock %}

<!-- start of the content block -->
{% block content %}

<div class="card-body p-5">
  <h1 class="font-weight-light">Add a new field</h1>
  <p class="lead">
    Fill out the form and add a new field of work. </br>
    After adding the new field you'll be able to add it to new and existing employees
    when adding or updating existing information.
  </p>

  <!-- search row -->
  <div class="row mb-2">
    <div class="col-sm-6">

    <form method="POST" class="add-new-employee-form">
      {% csrf_token %}
      <!-- inserting the create view form-->
      <p> {{ form.as_p }} </p>
      <button class="btn btn-outline-primary mt-2" type="submit">Add new field</button>
    </div>
  </div>

</div>


{% endblock %}