/*============================== general ==============================*/
body {
    background: url('../../static/img/9.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

h3 {font-weight:300}

.error-message {color:#e74c3c!important}

.danger {color:red!important}

#body .mb-5, .my-5 {margin-bottom: 4rem !important;}

#body .btn-outline-primary {color: #34495e;border-color: #34495e; padding-bottom: 8px}
#body .btn-outline-primary:hover {background-color: #34495e; color:white}

#body input {max-width:450px}

#body .btn-danger {color: #dc3545;background-color: white;border-color: #dc3545;padding-bottom:8px}
#body .btn-danger:hover {color: white;background-color: #dc3545;border-color: #dc3545;}

#body .alert {margin-top: 30px;margin-bottom: 0px;margin-right: 5%;margin-left: 5%;text-align: center;}


/*============================== navbar ==============================*/
#main-navigation {padding-top: 30px; padding-bottom: 30px;}
#body .nav-item a {font-size:18px}

@media (min-width: 992px){
#body .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}}

#body .navbar-brand:hover {color: rgba(0, 0, 0, 0.7);}


/*============================== table ==============================*/
.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}


.table-responsive-stack td,
.table-responsive-stack th {
   display:block;
   font-weight:400;
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left\9;
      width:100%;
   }
}

.table .thead-dark th {
  color: #fff;
  border-color: #2c3e50;
  background:#34495e;
}


/*============================== form ==============================*/
.input-custom {max-width: 400px!important}


/*============================== footer ==============================*/
#body #sticky-footer {padding-top:30px; padding-bottom:30px}