<!-- extends the base template -->
{% extends 'base.html' %}

<!-- start of the title block -->
{% block title %}
  <title>Employee details</title>
{% endblock %}


<!-- start of the content block -->
{% block content %}

<div class="card-body p-5">
  <h1 class="font-weight-light">Employee details for: {{object.first_name}} {{object.last_name}}</h1>
  <p class="lead">
    This page is showing the personal details of the employee. </br>
    You can modify the existing information or delete this employee from the database by clicking on the 
    appropriate action.
  </p>
  <!-- list table start -->
  <div class="panel panel-primary mb-4">
    <div class="panel-heading">
      <h3 class="panel-title">Employees</h3>
      <table class="table table-bordered table-striped table-responsive-stack mt-4"  id="tableOne">
          <thead class="thead-dark">
            <tr>
                <th>Position</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Base</th>
                <th>Contact number</th>
                <th>Category</tr>
          </thead>
          <tbody>
            <tr>
                <td>{{object.field.alt_name}}</td>
                <td>{{object.first_name}}</td>
                <td>{{object.last_name}}</td>
                <td>{{object.base}}</td>
                <td>{{object.contact_phone}}</td>
                <td>{{object.field.field_name}}</td>
            </tr>
          </tbody>
          <thead class="thead-dark">
            <tr>
                <th>Full address</th>
                <th>Skills</th>
                <th>Crew Code</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{ object.address }}</td>
                <td>
                  {% if employee.skills.all|length <= 0 %}
                    The employee has no recorded skills yet
                  {% else %}
                    {% for skill in employee.skills.all %}
                      {{ skill }} </br>
                    {% endfor %}
                  {% endif %}
                </td>
                <td>{{object.last_name|upper|slice:":3"}}{{object.first_name|upper|slice:":3"}}</td>
            </tr>
          </tbody>
      </table>

    </div>
  </div>
  <p>{{ notice }}</p>
  <a class="btn btn-danger mr-1" href="{% url 'employees_app:delete_employee' object.id %}" tabindex="-1" aria-disabled="true">Delete employee</a>
    <a class="btn btn-outline-primary mr-1" href="{% url 'employees_app:update_employee' object.id %}" tabindex="-1" aria-disabled="true">Update details</a>
</div>

    

{% endblock %}