<!-- extends the base template -->
{% extends 'base.html' %}

<!-- start of the title block -->
{% block title %}
  <title> Employees list </title>

  <!-- javascript for menu tags -->
  <script>
  (function(){
    document.addEventListener("DOMContentLoaded", function(){
      document.querySelectorAll('.nav-item')[0].classList.add('active');
    });
  })();
  </script>

{% endblock %}


<!-- start of the content block -->
{% block content %}

<div class="card-body p-5">
  <h1 class="font-weight-light">Employees list</h1>
  <p class="lead">
    Consult the list of all the employees and access the details of the simgle employee by
    clicking on the details link.
  </p>
  <!-- list table start -->
  <div class="panel panel-primary mt-4">
    <div class="panel-heading">
      <h3 class="panel-title">Complete list of employees</h3>
      <table class="table table-bordered table-striped table-responsive-stack mt-4"  id="tableOne">
          <thead class="thead-dark">
            <tr>
                <th>Position</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Base</th>
                <th>Contact number</th>
                <th>Details</th>
            </tr>
          </thead>
          <tbody>

            <!-- looping over ovject_list elements -->
            {% for employee in employees %}
            <tr>
                <td>{{employee.field.alt_name}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.base}}</td>
                <td>{{employee.contact_phone}}</td>
                <td><a class="table-link" href="{% url 'employees_app:employee_details' employee.id %}">Employee details</a></td>
            </tr>
            {% endfor %}
          </tbody>
      </table>

      <!-- adding pagination -->
        {% if is_paginated %}
          <nav class="blog-pagination mt-4">
            <!-- checking if the current page has previous pages-->
            {% if page_obj.has_previous and page_obj.has_next %}

              <!-- getting the first page of pagination -->
              <a class="btn btn-outline-primary mr-1" href="?page=1">First page</a>

              <!-- getting the previous page of pagination -->
              <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.previous_page_number }}"> < </a>

              <!-- getting to the next page -->
              <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.next_page_number }}"> > </a>

              <!-- getting the last page of pagination -->
              <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.paginator.num_pages }}"> Last page </a>

            {% elif page_obj.has_previous and not page_obj.has_next%}
              <a class="btn btn-outline-primary mr-1" href="?page=1">First page</a>
              <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.previous_page_number }}"> < </a>
              <a class="btn btn-outline-secondary disabled mr-1" href="#" tabindex="-1" aria-disabled="true"> > </a>
              <a class="btn btn-outline-secondary disabled mr-1" href="#" tabindex="-1" aria-disabled="true"> Last page </a>
            {% else %}
              <a class="btn btn-outline-secondary disabled mr-1" href="#" tabindex="-1" aria-disabled="true">First page</a>
              <a class="btn btn-outline-secondary disabled mr-1" href="#" tabindex="-1" aria-disabled="true"> < </a>
              <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.next_page_number }}"> > </a>
              <a class="btn btn-outline-primary mr-1" href="?page={{ page_obj.paginator.num_pages }}"> Last page </a>
            {% endif %}
          </nav>
        {% endif %}
        <!-- pagination end -->

    </div>
    <h3 class="panel-title mt-5">Advanced search options</h3>
    <p class="lead">
      Here are the advanced search options available for employee search.
    </p>
    <a class="btn btn-outline-primary mr-1" href="{% url 'employees_app:name_search' %}" tabindex="-1" aria-disabled="true">Search employee by name</a>
  </div>
</div>

    

{% endblock %}