<!-- extends the base template -->
{% extends 'base.html' %}

<!-- start of the title block -->
{% block title %}
  <title>Employees by field - {{notice}}</title>
{% endblock %}


<!-- start of the content block -->
{% block content %}

<div class="card-body p-5">
  <h1 class="font-weight-light">Search by work field, position: {{notice}}</h1>
  <p class="lead">
    Search results returned for the work field: {{notice}}
  </p>
  <!-- list table start -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <table class="table table-bordered table-striped table-responsive-stack mt-4"  id="tableOne">
          <thead class="thead-dark">
            <tr>
                <th>Position</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Base</th>
                <th>Contact number</th>
                <th>Details</th>
            </tr>
          </thead>
          <tbody>
          
            <!-- looping over ovject_list elements -->
            {% for employee in employees %}
            <tr>
                <td>{{employee.field.alt_name}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.base}}</td>
                <td>{{employee.contact_phone}}</td>
                <td><a class="table-link" href="{% url 'employees_app:employee_details' employee.id %}">Employee details</a></td>
            </tr>
            {% endfor %}

          </tbody>
      </table>
    </div>
  </div>
</div>
 

{% endblock %}