<!-- extends the base template -->
{% extends 'base.html' %}

<!-- start of the title block -->
{% block title %}
  <title>Search employees</title>
{% endblock %}


<!-- start of the content block -->
{% block content %}

<div class="card-body p-5">
  <h1 class="font-weight-light">Search Employee by Name</h1>
  <p class="lead">In this snippet, the background image is fixed to the body element. Content on the page will scroll, but the image will remain in a fixed position!</p>

  <!-- search row -->
  <div class="row">
    <div class="col-sm-6">
      <!-- first name search form -->
      <form method="GET" class="mb-4">
        <h3 class="panel-title">Search by first name</h3>
        <!-- csrf token -->
        {% csrf_token %}

        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter the first name here">
        <button type="submit" class="btn btn-outline-primary mt-3"> Search </button>
      </form>
    </div>

    <div class="col-sm-6">
      <!-- first name search form -->
      <form method="GET" class="mb-4">
        <h3 class="panel-title">Search by last name</h3>
        <!-- csrf token -->
        {% csrf_token %}

        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter the last name here">
        <button type="submit" class="btn btn-outline-primary mt-3"> Search </button>
      </form>
    </div>
  </div>

  <!-- list table start -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Results</h3>
      <table class="table table-bordered table-striped table-responsive-stack mt-4"  id="tableOne">
          <thead class="thead-dark">
            <tr>
                <th>Position</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Base</th>
                <th>Contact number</th>
                <th>Details</th>
            </tr>
          </thead>
          <tbody>
          
          <!-- adding logic for the case that there are no results -->
          {% if employees and employees != "no results" %}
            <!-- looping over ovject_list elements -->
            {% for employee in employees %}
            <tr>
                <td>{{employee.field.alt_name}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.base}}</td>
                <td>{{employee.contact_phone}}</td>
                <td><a class="table-link" href="{% url 'employees_app:employee_details' employee.id %}">Employee details</a></td>
            </tr>
            {% endfor %}

          {% elif employees == "no results" %}
            <tr>
                <td class="error-message">Your search returned no results. Search by name is case sensitive.</td>
            </tr>
          
          {% else %}
            <tr>
                <td>There are no results yet for your search</td>
            </tr>

          {% endif %}

          </tbody>
      </table>
    </div>
  </div>

</div>

    

{% endblock %}