<!-- extends the base template -->
{% extends 'base.html' %}

<!-- start of the title block -->
{% block title %}
  <title>Add new employee</title>

  <!-- javascript for menu tags -->
  <script>
  document.addEventListener("DOMContentLoaded", function(){
    document.querySelectorAll('.nav-item')[1].classList.add('active');
  });
  </script>
{% endblock %}


<!-- start of the content block -->
{% block content %}

<div class="card-body p-5">
  <h1 class="font-weight-light">Add a new employee</h1>
  <p class="lead">
    Fill out the form and add a new employee to the database. 
    After you have submitted the form you will still be able to modify existing information
    by accessing the employee details page and selecting the appropriate action.
  </p>

  <!-- search row -->
  <div class="row mt-4 mb-2">
    <div class="col-sm-6">

    <form method="POST" class="add-new-employee-form">
      {% csrf_token %}
      <!-- inserting the create view form-->
      {{ form.as_p }}
      <button class="btn btn-outline-primary mt-2" type="submit">Add new employee</button>
    </div>
  </div>

</div>

    

{% endblock %}