<!-- extends the base template -->
{% extends 'base.html' %}

<!-- start of the title block -->
{% block title %}
  <title>Update employee details</title>
{% endblock %}


<!-- start of the content block -->
{% block content %}

<div class="card-body p-5">
  <h1 class="font-weight-light">Update Employee's details</h1>
  <p class="lead">
    Fill out the form and modify the information about the employee 
    <b>{{object.last_name}}</b>, <b>{{object.first_name}}</b>
  </p>

  <!-- search row -->
  <div class="row">
    <div class="col-sm-6">

    <form method="POST" class="add-new-employee-form">
      {% csrf_token %}
      <!-- inserting the create view form-->
      {{ form.as_p }}
      <button class="btn btn-outline-primary mt-2" type="submit">Update employee details</button>
    </div>
  </div>

  </div>
</div>

    

{% endblock %}